body {
    font-family: "Calibri Light", sans-serif;
    background-color: #303030;
}

#loginMask {
    background-color: #4c4c4c;
    border-radius: 5px;
    margin: 190px auto 10px auto;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.034),
                0 7px 5px rgba(0, 0, 0, 0.048),
                0 13px 10px rgba(0, 0, 0, 0.06),
                0 22px 18px rgba(0, 0, 0, 0.072),
                0 42px 33px rgba(0, 0, 0, 0.086),
                0 100px 80px rgba(0, 0, 0, 0.12);
    border: none;
    padding: 151px 182px;
    box-sizing: border-box;
    display: inline-block;
}

.loginButtonDiv {
    display: inline-block;
}

#loginContainer {
    padding: 10% 10% 10% 10%;
    float: left;
    margin: 10px auto 10px auto;
    clear: both;
}

.loginTextBoxDivs {
    float: left;
    margin-bottom: 3px;
    clear: both;
}

.loginTextBoxesDiv {
    text-align: center;
}

.loginMaskButtons {
    background-color: white;
    font-size: 16px;
    color: #4c4c4c;;
    border: none;
}

.loginMaskButtons:hover {
    background-color: #4c4c4c;
    color: white;
    border-color: white;
    border-width: 10px;
}

.loginBorder {

}

.loginElement {
    margin: 5px;
}

#infoBox {
    opacity: 1;
    transition: 1s opacity;
    text-align: center;
    font-size: 16px;
}


#registerButton {
    alignment: right;
}

#chatBox {
    display: block;

}

#chatBox {
    background-color: #303030;;
    display: block;
    width: 400px;
    height: 200px;
}

.loginTextBoxes {
    background-color: #4c4c4c;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: lightgray;
    border-width: thin;
}

::placeholder {
    color: lightgray;
    font-size: 16px;
}

#textBox {
    width: 350px;
}

.chatElement {
    margin: 5px;
}


